##-----------------------
## first self .gitignore
##-----------------------

# Exclude built .exe files from c++ code building
*.exe

# Exclude VS generated workspace information 
**/.vscode/
**/.vs/

# Exclude pycharm generated workspace information 
**/.idea/

# Exclude pycharm generated workspace information
**/*.egg-info/

# Python bytecode cache
__pycache__/
